body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;

 }
.header {
	background-color: #004080;
	height: 100px;
	color: #FFF;
}
.header .home{
	font-size: 50px;
	font-weight: bold;
	padding: 20px 0 0 300px;
}
.header .login {
	padding: 20px 0 0 10px;
}
.header .login .text, .id, .pw{
	margin: 0px 20px 0 0px;
}

.header .login .loginBtn{
	background-color: #004080;
	border: 1px solid black;
	font-weight: bold;
	margin-bottom: 15px;
}
.header .forgot {
	line-height: 2;
}

.main {
<<<<<<< HEAD
	padding: 30px 140px;
=======
	padding: 50px 150px;
>>>>>>> 1st commit from Win
	background-color: #e6f3ff;
	height: 740px;
}
.main .intro {
	font-size: 20px;
	color: #00264d;
	font-weight: bold;
	padding: 20px 0 0 130px;
}
.main .intro-img{
<<<<<<< HEAD
	padding: 0 0 0 130px;
=======
	padding: 0px 0 0 130px;
>>>>>>> 1st commit from Win
}
.main .reg {
	font-size: 40px;
	font-weight: bold;
}
<<<<<<< HEAD
.main .submitBtn {
	background-color: darkgreen;
	width: 120px;
	height: 50px;
	color: #FFF;
	font-weight: bold;
	font-size: 20px;
	border-radius: 20px;
}
=======
>>>>>>> 1st commit from Win
